{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% if process == "connect" %}


<h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>
<p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
{% else %}
<div class="form-group">
  <div class="container login">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h1>{% blocktrans with provider.name as provider %}<span class="text-white">Sign In Via</span> <span class="text-danger">{{ provider }}</span>{% endblocktrans %}</h1>

        <p>{% blocktrans with provider.name as provider %} <span class="text-white">You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %} </span></span></p>
{% endif %}
        <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans "Continue" %}</button>
        </form>
      </div>
    </div>
  </div> 
</div> 
{% endblock %}
