/* Page Style  */
.dark-bg {
    background-color: #7c8893;
}

body {background-color: #70808e;}

/* NAV BAR STYLE  */
.navbar-brand {
    font-size:3.25rem
}

.nav-item {
    font-size:2.2rem
}

.navbar {
    font-weight: 700;
}




/* Hyperlink color change  */
a {
    color: red;
    text-decoration: none;
}

a:hover { 
    color: #000000;
}


.nav-link {
    color:#EEA47F;
}


.nav-link:hover { color: #e8bd3b; }

.btn-light {

}

/* Danger buttons color change  */
.btn-danger {
    background-color: red;
}

.login {
    color: white;
}

/* POST TITLE FORMATING  */
.post-title {
    font-weight: 900;
    font-size: 2.8 rem;
}

/* CONTENT TEXT FORMATING  */
.post-content {
    font-size: 2rem;
}


/* Bottom page navgation styling  */
.page-link {
    color:black;
}

.page-link:hover {
    color:red;
}
