{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <div class="form-group">
        <div class="container login">
          <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <div class="text-white form-group">
                <h2>Delete Post</h2>

                <h2>Delete: {{ post.title }} </h2>
                <form method="POST">
                {% csrf_token %}
                <p> Are you sure you want to delete this post ?</p>
                <button class=" btn btn-danger">Delete Post</button>
            </div>
        </div>
    </div>
</div>
    {% else %}
        Please LOGIN to delete the post !
    {% endif %}

{% endif %}

{% endblock %}



