{% extends 'base.html' %}
{%block title %}{{ post.title }}{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container text-white">
    <div class="row g-0">
    <div class="col-md-10 masthead-text">
        <!-- POST TITLE -->
        <h1 class="post-title">{{ post.title }}</h1>
        <!--IF user is authenticated and has the same id as the auther, ability to edit and delete the post-->
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
            
                
                <a href="{% url 'editpost' post.pk%}">
                <button type="button" class="btn btn-light btn-outline-danger">edit</button> 
                </a>
                <a href="{% url 'deletepost' post.pk%}"> 
                <button type="button" class="btn btn-danger">delete</button>
                </a>
            {% endif %}
        {% endif %}
        <!-- Post author goes before the | the post's created date goes after -->
        <p class="post-subtitle text-dark"><span class="text-white">Post By :</span> <strong>{{ post.author }}</strong></p>
        <p class="post-subtitle"><small>{{ post.created_on }}</small></p>
        <p class="post-subtitle text-dark"><span class="text-white">Category :</span> <strong>{{ post_filter }}</strong></p>
        <a href="{% url 'index' %}" class="btn btn-danger" role="button">
            Back
        </a>
        <br>
        <hr>
        <p class="post-subtitle post-content">{{ post.content }}</p>
        <br>
        <div class="col-1">
            <strong>
                <!--Ability to leave a like underneath the POST-->
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'post_like' post.pk %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="blogpost_id" value="{{ post.pk }}" class="btn-like "><i class="fas fa-heart text-danger"></i></button>
                    {% else %}
                    <button type="submit" name="blogpost_id" value="{{ post.pk }}" class="btn-like"><i class="far fa-heart text-danger"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <span class="text-secondary"><i class="far fa-heart text-danger"></i></span>
                {% endif %}
                <!-- The number of likes goes before the closing strong tag -->
                <span class="text-secondary text-white">{{ post.number_of_likes }}</span>
            </strong>
            {% with comments.count as total_comments %}
            <strong class="text-secondary text-white"><i class="far fa-comments"></i>
                <!-- Our total_comments variable goes before the closing strong tag -->
                {{ total_comments }}</strong>
            {% endwith %}
        </div>
        </div>
        <br>
        <hr>
        <!--Link to Add a New Comment-->
        <a href="{% url 'newcomment' post.pk %}">
            <button type="button" class="btn btn-light btn-outline-danger">Add Comment</button>
        </a>
        </div>
</div>
<br>
<br>

<div class="container">
    <div class="col-md-10 card mb-4  mt-3 ">
        <h3>Comments:</h3>
        <div class="card-body">
            <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                    <span class="text-danger"><strong>{{ comment.name }}</strong></span>
                    <span class=" text-muted font-weight-normal">
                        <!-- The comment's created date goes here -->
                        {{ comment.created_on }}
                    </span> wrote:
                </p>
                <!-- The body of the comment goes before the | -->
                {{ comment.body | linebreaks }}
            </div>
            <!-- Our for loop ends here -->
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}


