{% extends 'base.html' %}
{%block title %}{{ post.title }}{% endblock %}

{% block content %}


<div class="container">
    <div class="row g-0">
    <div class="col-md-6 masthead-text">
        <!-- Post title goes in these h1 tags -->
        <h1 class="post-title">{{ post.title }}</h1>
        <!-- Post author goes before the | the post's created date goes after -->
        <p class="post-subtitle">{{ post.author }} - {{ post.created_on }}</p>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href="{% url 'editpost' post.pk%}">(edit)</a> 
                <a href="{% url 'deletepost' post.pk%}">(delete)</a> 
            {% endif %}
        {% endif %}
        
        <br>
        <p class="post-subtitle">{{ post.content }}</p>
        <button type="button" class="btn btn-danger"><a href="{% url 'index' %}">Back</a></button>
        </div>
    </div>
</div>
<br>
<br>

{% endblock content %}


